.container{
    background-color: rgb(243, 243, 174);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin: 40px 60px;
    padding: 0;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
}
.title{
    font-size: 4rem;
    text-align: center;
}


input{
    width: 50%;
    text-align: left;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    vertical-align: auto;
}
h1{
    text-align: center;
}

.ui form{
    margin: auto;

}
.field{
    size: large;
}
.d-grid{
    background-color: #333;
}

.btn-login{
    background-color: #6ac223 !important;
}
