form{
    
    background-color: rgb(243, 243, 174);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    /* margin: 40px 45px;
    padding: 0; */
    border-radius: 5px;
    font-size: 1rem;
    /* line-height: 2; */
    text-align: center;
    color: #333;
    height: 50%;
    width: 40%;
    display:contents;
}

h1{
    font-size: 3rem;
    text-align: center;
    padding: 15px 20px;
    margin: 30px 35px;
}

.field{
    
    text-align: center;
}

.btn-login{
    background-color: #6ac223 !important;
}
